@mixin common-styles {
  border: 10px solid #333;
  padding: 20px;
  background-color: #0c0909;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #f76060;
}


@mixin text-box {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


@mixin body-background {
  background-color: gray;
  text-align: center;
  color: red;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  max-width: 800px;
  margin: 0 auto;

  .bio,
  .imagen {
    display: flex;
    align-items: center;
  }

  .imagen img {
    @include common-styles;
    width: 50%;
    max-width: 100%;
    height: auto;
  }

  .logo img {
    @include common-styles;
    width: 50%;
    max-width: 50%;
    height: auto;
  }

  .ju,
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include common-styles;
    @include text-box;
  }

  .hist,
  .his1 {
    @include common-styles;
    @include text-box;
  }


  @media screen and (max-width: 1023px) {

    .ju,
    p {
      width: 100%;
      margin: 10px auto;
    }
  }
}

body {
  @include body-background;
}